html {
  color: #222;
  height: 100%;
}

body {
  margin: 0;
}

h1, p, a {
  color:#025696;
  font-family: Muli;
  text-shadow: 0 0 18px rgba(255, 255, 255, 1);
  margin: 0;
}

div {
  width: 100%;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}

.faq {
    margin-left: 10%;
    position: absolute;
    top: 10%;
    width: 80%;
}

.faq-answers {
  display: inline-block;
  font-size: 1vw;
  width: 60%;
}

.faq-questions {
  display: inline-block;
  font-size: 2vw;
  width: 50%;
}

.hidden {
  display: none;
}

.landing {
  position: absolute;
  text-align: center;
}

.landing-background .blue-buttons-to-procede {
  top: 60%;
}

.login-background .blue-buttons-to-procede {
  top: 65%;
}

.landing-background .line {
  height: 0;
  width: 0;
}

.line {
  background: #3293d3;
}

.landing-background .line-horizontal, .notification .line-horizontal  {
  width: 0;
}

.line-horizontal {
  height: 1rem;
  position: fixed;
  transition: 1s width linear;
  width: 100%;
}

.landing-background .line-vertical, .notification .line-vertical  {
  height: 0;
}

.line-vertical {
  height: 100%;
  position: fixed;
  transition: 1s height linear;
  width: 1rem;
}

.login {
  position: fixed;
  top: 30%;
}


.blue-buttons-to-procede button {
  background: #025696;
  border: 8px solid #025696;
  border-radius: 5rem;
  color: #ffffff;
  font-family: Muli;
  font-size: 3vw;
  margin: 2rem;
  padding: 2rem;
  text-decoration: none;
  top: 60%;
}

.blue-buttons-to-procede button:hover {
  box-shadow: 0 0 2rem #C6C6C6;
}

#faq-button {
  background: #ffffff;
  border: none;
  border-radius: 3rem;
  color: #55a8db;
  font-size: 1vw;
  margin: 1rem;
  margin-right: 2%;
  padding: 1rem;
  text-decoration: none;
  margin-left: 95%;
}

#faq-q1 {
  text-align:center;
  display: inline-block;
  top: 10%;
}

#line-horizontal-bottom {
  top: 88%;
  transition-delay: 1.2s
}

#line-horizontal-top {
  top: 84%;
  transition-delay: 1s
}

#line-vertical-left {
  left: 8%;
  transition-delay: 1.2s
}

#line-vertical-right {
  left: 12%;
  transition-delay: 1s
}

.mission-statement {
  font-size: 4vmin;
  margin-left: auto;
  margin-right: auto;
  top: 25%;
}

.welcome {
  font-size: 7vmin;
  top: 5%;
}

#wrapper-background {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  text-align: center;
  background-image: url("images/background-login-blue.svg");
}


.landing-background#wrapper-background {
  background-image: url("images/background-landing-blue.svg");
}

@font-face {
  font-family: Muli;
  src: url(./fonts/Muli-VariableFont_wght.ttf);
}

@media only screen and (max-width: 1000px){
  #landing-button-left-or-top {
    right: 30%;
    top: 55%;
  }

  #landing-button-right-or-bot {
    right: 30%;
    top: 75%;
  }

  #login-button-left-or-top {
    right: 30%;
    top: 55%;
  }

  #login-button-right-or-bot {
    right: 30%;
    top: 75%;
  }
}

@media only screen and (max-width: 900px) {
  .mission-statement {
   left: 2.5%;
   width: 95%; 
  }
} 
@media only screen and (max-width: 1400px) and (min-width: 900px) {
  .mission-statement {
   left: 7.5%;
   width: 85%;
  }
}

@media only screen and (max-width: 1900px) and (min-width: 1400px) {
  .mission-statement {
   left: 10%;
   width: 80%;
  }
}

@media only screen and (min-width: 1900px) {
  .mission-statement {
   left: 15%;
   width: 70%;
  }
}

/* For fade-out */
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

/*For fade in*/
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* Toggle */

.switch-container {
  position: relative;
  display: inline-block;
  top: 35rem;
  width: 30rem;
  font-size: 1.5vmin;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 60px;
  float:left;
  right: 1rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #608fab;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #025696;
}

input:checked + .slider:before {
  transform: translateX(40px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}