# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignore credentials file for security
./src/main/java/onlinecontacttracing/messaging/credentials.json
