#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

h1{
    
    margin-left: auto;
  margin-right: auto;
  margin-top:200px;
  
  color:rgba(43,142,190);
  text-align: center;
  text-shadow: 0 0 18px rgb(255,255,255);
  font-family: 'Courier New', Courier, monospace
}

p {
    
    margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  
  color:rgba(43,142,190);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7); 
  width:400px;
  padding:10px;
  font-family: 'Courier New', Courier, monospace
}

body {
  background-color: floralwhite;
  background-image: url("images/bg2.JPG");
  background-size: cover
  
  
  
}

#play_button {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  background-color:white;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#prev {
  position: absolute;
  left: 30%;
  top: 40%;
  background-color:white;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#next {
  position: absolute;
  right: 30%;
  top: 40%;
  background-color:white;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    max-width: 400px;
    height:auto;
    padding: 5px;
   margin-left: auto;
  margin-right: auto;
  background-color:rgba(255,255,255,.7);

}



.bgImage{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.profesh {
    
  margin-left: auto;
  margin-right:auto;
  padding: 5px;
}

